.creditcard .sample .result {
    margin: 10px auto 0 auto;
    width: 920px;
    height: auto;
}

.creditcard .sample .samplePane {
    height: auto;
}

.creditcard .sample .fileContent {
    width: 740px;
    height: 350px;
}

.creditcard .sample > * {
    height: 355px;
}

.creditcard .sample .fileList {
    width: 180px;
    height: 350px;
}

.creditcard .fixedHeight .samplePane {
    height: 200px;
    overflow-y: scroll;
}

.creditcard h2 {
    margin-top: 20px !important;
}
