.example3 .sample .samplePane {
    padding: 0;
    width: 320px;
    height: 480px;
    left: 22px;
    top: 136px;
}

.example3 .sample > * {
    height: 711px;
}

.example3 .sample .source {
    width: 530px;
}

.example3 .sample .result {
    width: 365px;
    height: 721px;
    border: none;
    background: url('Images/device.mobile.png');
    margin-left: 15px;
}
.example3 .sample .fileList {
    width: 530px;
    height: auto;
}

.example3 .sample .fileContent {
    width: 530px;
    height: auto;
}

.example3 .result .title {
    display: none;
}