.features {
    text-align: center;
    color: #081735;
    font-size: 18px;
}

.features.small {
    font-size: inherit;
}

.features > * {
    vertical-align: top;
    display: inline-block;
    width: 180px;
}

.features.small > * {
    width: 100px;
}

.features strong {
    font-size: 1.1em;
    height: 50px;
    color: #701010;
    padding-bottom: 10px;
}

.features > * * {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.features.small img {
    margin-bottom: 5px;
}

.features img {
    margin-bottom: 20px;
}