.features {
    text-align: center;
    font-family: Arial;
    color: #081735;
}

.features > * {
    vertical-align: top;
    display: inline-block;
    width: 188px;
}

.features.small > * {
    width: 100px;
}

.features strong {
    height: 50px;
    color: #701010;
}

.features > * * {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.features.small img {
    margin-bottom: 5px;
}

.features img {
    margin-bottom: 20px;
}