.knockout.block {
    text-align: center;
    background: center url('../Images/knockout/background.jpg');
}

.knockout .features {
    display: inline-block;
    margin-left: 50px;
    background-clip: padding-box;
    color: #B64838;
}

.knockout .logo {
    color: white;
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    width: 250px;
}