.test {
    border: 2px solid lightgray;    
    margin-top: 10px;
}

.test.fail {
    border: 2px solid salmon;    
}

.test.pass {
    border: 2px solid lightgreen;
}

.test .summary {
    padding: 2px 10px;
    cursor: pointer;
}

.test.pass .summary {
    background: lightgreen;
}

.test.fail .summary {
    background: salmon;
}

.details {
    margin: 0;
    padding: 5px;
    background: white;
}