.test {
    border: 2px solid rgb(222, 222, 222);
    margin-top: 1px;
}

.test.fail {
    border: 2px solid rgb(255, 222, 222);
}

.test.pass {
    border: 2px solid rgb(222, 255, 222);
}

.test .summary {
    background: rgb(222, 222, 222);
    padding: 2px 10px;
    cursor: pointer;
}

.test .summary .testName {
    color: black;
}

.test.pass .summary {
    background: rgb(222, 255, 222);
}

.test.pass .summary .fixture {
    color: #060;
    font-weight: bold;
}

.test.pass .summary .testState {
    color: #0F0;
    font-weight: bold;
}

.test.fail .summary {
    background: rgb(255, 222, 222);
}

.test.fail .summary .fixture {
    color: #A00;
    font-weight: bold;
}

.test.fail .summary .testState {
    color: #F00;
    font-weight: bold;
}

.details {
    margin: 0;
    padding: 5px;
    background: white;
}