.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(222, 222, 222);
    padding: 2px 10px;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
}

.toolbar.passing {
    background: rgb(222, 255, 222);
}

.toolbar.failing {
    background: rgb(255, 222, 222);
}

.toolbar .debugButtons {
    float: right;
}
