.block {
  padding: 10px;
  margin: 5px 10px 10px 10px;
  -webkit-margin-collapse: separate;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  border: 1px solid #52657f;
  background-color: white;
  text-shadow: white 0 1px 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}