.branding {
    text-align: center;
    margin: 0 auto;
    font-family: 'Courier New';
}

.branding h1 {
    font: bold 48pt 'Courier New';
}

.branding * {
    display: inline-block;
}

.features {
    text-align: center;
    font-family: Arial;
}

.features > * {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    height: 250px;
}

.features.small > * {
    width: 100px;
    height: 150px;    
}

.features .logo {
    width: 300px;
}

.features strong {
    height: 50px;
}

.features > * * {
    margin: 0 auto;
    display: block;
}

.features.small img {
    margin-bottom: 5px;
}

.features img {
    margin-bottom: 10px;
}

.home .sample {
    margin-left: 10px;
}