.expander {
    position: relative;
}

.expanderHeader {
    height: 25px;
    padding: 5px;    
    cursor: pointer;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.expanderContent {
    padding: 0 10px 10px 10px;
    display: none;
    background: white;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.expanderHeader .headerText {
    margin-left: 6px;
}

.expanderHeader .arrow {
    float: left;
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.expanderHeader .icon {
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    width: 16px;
    height: 16px;
}

.expanderHeader .iconGraph {
    background-image: url(images/icon.graph.png);
}

.expanderHeader .iconGrid {
    background-image: url(images/icon.grid.png);    
}

.expanderHeader .iconList {
    background-image: url(images/icon.list.png);    
}

.expanderHeader .smallArrowDown {
    margin-top: 10px;
    margin-left: 6px;
}

.expanderHeader .smallArrowUp {
    margin-top: 5px;
    margin-left: 6px;
}

.expander .iconPrint {
    display: none;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.expander.expanded .iconPrint {
    display: block;
}
