.graphContainer {
    margin-top: 5px;
}

.graph {
    width: 800px;
    height: 450px;
}

.embedded .graph {
    width: 500px;
    height: 350px;
}

.main .graph {
    width: 272px;
    height: 100px;
}