.desktop .gridContainer {
    overflow: auto;
}

.mobile .gridContainer {
    overflow: hidden;
}

.grid {
    font-size: 0.85em;
    clear: left;    
}
    
.grid-filter {
    float: left;
    padding-right: 20px;
}

.grid-filter .label {
    width: auto;
    margin-right: 10px;
}

.grid-grouping {
}

.grid-grouping-item {
    font-weight: bold;
    background-color: #ddd;
    text-align: center;
}
    
.grid-header {
}

.grid-header-item {
    font-weight: bold;
    background-color: #ddd;
    cursor: pointer;
}

.grid-header-item:hover {
    background-color: #bbb;
    color: #000;
}
    
.grid-row {
    cursor: pointer;
}
    
.grid-row:hover .grid-row-item {
    background-color: #ccc;
    color: #000;
}
    
.grid-row-item {
    background-color: #eee;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center; 
}

.grid-row-selected .grid-row-item {
    background-color: #333;
    color: #fff;
}

.grid-row-item.icon {
    font-size: 0;
}

