.tabList .tab {
    float: left;
    padding: 10px 20px;
    border: 1px solid grey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 5px -1px 5px;
}

.tabList .tab.active {
    background: white;
    border-bottom: 1px solid white;
}

.tabContent {
    clear: both;
    padding: 10px;
    border: 1px solid grey;
}