.dialog {
    position: fixed;
    background-color: white;
    /*display: none;*/
    z-index: 100;
    overflow: visible;
}

.dialogHeader {
    margin-top: 1px;
}

.dialogContent {
    position: relative;
    overflow: visible;
    z-index: 1;
}

.closeButton {
    position: absolute;
    right: 3px;
    top: 0px;
    width: 47px;
    height: 18px;
    background-image: url(images/close.png);
    z-index: 10;
}

.closeButton:hover {
    background-image: url(images/close.active.png);    
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
    box-shadow: 0 0 8px #F55;
    -moz-box-shadow: 0 0 8px #F55;
    -webkit-box-shadow: 0 0 8px #F55;
}

.loadingDialog {
    padding: 20px 80px 20px 80px;
}

.dialogBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.60;
    z-index: 99;
    display: none;
}
