.tabPanel {
    position: fixed;
    z-index: 10;
}

.tabPanel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabPanel .tabContent {
    display: none;
    overflow: visible;
}

.tabPanel .tabButtonContainer {
    
}

.tabPanel .tabButton {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: black;
    z-index: 11;
}

.tabPanel .tabButton .tabButtonIcon {
    width: 0;
    height: 0;
}

.tabPanel .tabSelected {
}

.tabPanel .tabButtonText {
    white-space: nowrap;
}