<div class="tabPanel">
    <div class="tabButtonContainer">
        <ul data-bind="foreach: tabs">
            <!-- ko if: ($parent.loggedOn() ? $data.authenticated !== false : $data.anonymous !== false)  && (!$data.visible || $data.visible()) -->
            <li class="tabButton" data-bind="cssClass: $data.cssClass, click: $parent.click, tooltip: $data.tooltip ? $data.tooltip : '', position: $parent.tooltipPosition">
                <div class="tabButtonIcon" data-bind="cssClass: $data.icon" />
                <div class="tabButtonText" data-bind="html: text"></div>   
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>
