body {
    /*background: #111;*/
    background: url(Images/b7.jpg);
    background-size: cover;
    font-family: 'Segoe UI', 'Trebuchet MS', Arial, Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.page {
    position: absolute;
    width: 980px;
    left: 50%;
    margin-left: -490px;
}

h1, h2, h3 {
    margin-top: 0;
}