.sample {
    width: 946px;
}

.sample > * {
    float: left;
    border: 1px solid black;
    height: 300px;
    box-sizing: border-box;
}

.sample > div {
    border-left: 0;
}

.sample ul.fileList {
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sample .fileList li {
    padding: 2px;
    cursor: pointer;
}

.sample .fileList li:hover {
    color: white;
    background: black;
}

.sample .selectedFile {
    color: white;
    background: grey;
}

.sample .fileContent {
    padding: 5px;
    width: 490px;
    overflow: hidden;
}

.sample .samplePane {
    padding: 5px;
    width: 250px;
    overflow: auto; 
}

.sample pre {
    margin: 0;
}

.sample pre.prettyprint {
    border: none;
}