.block {
    background: white;
    border: 1px solid #AAA;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
}

.block p {
    margin: 10px 0;
    font-size: 18px;
}

.block .child {
    position: relative;
    padding: 15px;
    border: 2px solid #222;
    border-radius: 6px;
    margin-bottom: 10px;
}

.block .child h1 {
    color: white;
    background: #222;
    font-weight: bold;
    font-size: inherit;
    height: 20px;
    margin: -15px -15px 0 -15px;
    padding: 7px 10px 10px 10px;
}

.block .child p {
    margin: 10px 0;
}

.block .child pre {
    margin: 0;
}

.child img {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -30px;
}

img.topRight {
    position: static !important;
    float: right;
    margin: 0 !important;
}
/* Without this, stuff flops around on transitioning. I don't get it either... */
.out .content.block {
    margin-top: 0;
}

.block > h1 {
    color: white;
    font-weight: bold;
    font-size: inherit;
    height: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    margin: -20px -20px 10px -20px;
    text-shadow: 3px 3px 0 black, 5px 5px 5px rgba(0, 0, 0, 0.5);

    background: #103070; /* Old browsers */
    background: -moz-linear-gradient(top,  #103070 0%, #457ae4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#103070), color-stop(100%,#457ae4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #103070 0%,#457ae4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #103070 0%,#457ae4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #103070 0%,#457ae4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #103070 0%,#457ae4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103070', endColorstr='#457ae4',GradientType=0 ); /* IE6-9 */
}

.block h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}