.field {
    width: 100%;
    margin-bottom: 5px;
}

.label {
    font-size: 0.7em;
}

.display {
    width: 100%;
}

.display input {
    width: 100%;
}

.fieldColumn {
    float: left;
}

.fieldColumn:nth-child(n+2) {
    padding-left: 20px;
}

.validationElement {
    border: 2px solid red !important;
}
