.footer {
    text-align: right;

    font-size: 10pt;
    color: #888;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

.footer a, .footer a:active, .footer a:visited, .footer a:link {
    text-decoration: none;
    color: #66F;
}

.footer a:hover {
    color: #FFF;
}