.function {
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
}

.function p {
    margin: 10px 0;
}

.function pre {
    margin: 0;
}

.function .name {
    font-size: 1.2em;
}

.function .arguments {
    list-style: none;
}