.header {
    height: 46px;
}

.header .background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    border-bottom: 1px #333 solid;    
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    z-index: -2;
}

.header .logo {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 20px;
    color: white;
    font-size: 22pt;
    text-shadow: 3px 3px 0 black, 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.header .buttons {
    text-align: center;
    position: absolute;
    right: 0;
}

.header .buttons span {
    font-size: 0.7em;
    float: left;
    color: #EEE;
    text-shadow: 2px 2px 0 black;
    padding: 9px;
    cursor: pointer;
    background: rgba(32, 96, 224, 0.2);
    font-size: 1.2em;
    width: 110px;
    height: 27px;
    margin: 0;
    margin-left: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.header .buttons span:hover {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #AAA;
}