body {
    background: #CCC;
    font-family: 'Segoe UI', 'Trebuchet MS', Arial, Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

h1, h2, h3 {
    margin-top: 0;
}

.padded {
    padding: 10px;
}

.underline {
    text-decoration: underline;
}

.clear {
    clear: both;
}

a, a:active, a:visited, a:link {
    text-decoration: none;
    cursor: pointer;
    color: #1b50ba;
}

a:hover {
    text-decoration: underline;
}

table {
    border-spacing:0;
    border-collapse: collapse;
}

th {
    text-align: left;
    background: #457ae4;
    color: white;
    padding: 2px 5px;
}

th, td {
    border: 1px solid #457ae4;
    padding: 2px 5px;
}