body {
    background: #CCC;
    font-family: 'Segoe UI', 'Trebuchet MS', Arial, Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

h1, h2, h3 {
    margin-top: 0;
}

.padded {
    padding: 10px;
}

.underline {
    text-decoration: underline;
}

.clear {
    clear: both;
}

a, a:active, a:visited, a:link {
    text-decoration: none;
    cursor: pointer;
    color: #1b50ba;
}

a:hover {
    text-decoration: underline;
}