.sample {
    width: 935px;
    margin: 0 auto;
}

.sample > * {
    display: inline-block;
    vertical-align: top;
    height: 305px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.sample .fileList, .sample .fileContent {
    float: left;
    height: 300px;
    box-sizing: border-box;
}

.sample ul.fileList {
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sample .fileList li {
    padding: 2px;
    cursor: pointer;
}

.sample .fileList li:hover {
    color: white;
    background: black;
}

.sample .selectedFile {
    color: white;
    background: grey;
}

.sample .fileContent {
    padding: 5px;
    width: 515px;
    overflow: auto;
    height: 272px; /* HACK */
}

.sample .result {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 255px;
}

.sample .title {
    background: #ccc;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.sample .samplePane {
    overflow: auto; 
    padding: 5px;
    height: 262px; /* HACK */
    position: relative;
}


.sample pre {
    margin: 0;
}

.sample pre.prettyprint {
    border: none;
}