.smallArrowUp {
    border: 4px solid transparent;
    border-bottom-color: #999999;
    height: 0px;
    width: 0px;
}

.smallArrowDown {
    border: 4px solid transparent;
    border-top-color: #999999;
    height: 0px;
    width: 0px;
}

.smallArrowLeft {
    border: 4px solid transparent;
    border-right-color: #999999;
    height: 0px;
    width: 0px;
}

.smallArrowRight {
    border: 4px solid transparent;
    border-left-color: #999999;
    height: 0px;
    width: 0px;
}

.arrowUp {
    border: 6px solid transparent;
    border-bottom-color: #000000;
    height: 0px;
    width: 0px;
}

.arrowDown {
    border: 6px solid transparent;
    border-top-color: #000000;
    height: 0px;
    width: 0px;
}

.arrowLeft {
    border: 6px solid transparent;
    border-right-color: #000000;
    height: 0px;
    width: 0px;
}

.arrowRight {
    border: 6px solid transparent;
    border-left-color: #000000;
    height: 0px;
    width: 0px;
}