.toolbar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
  border-bottom: 1px solid #2a3441;
  z-index: 2;
  position: relative;
  padding: 10px;
  height: 44px;

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92a3b9), color-stop(50%, #7f93ad), color-stop(51%, #768ba7), color-stop(100%, #6d83a1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
}

.toolbar a, .toolbar a:visited, .toolbar a:active, .toolbar a:hover {
    text-decoration: none;
}

.toolbar > h1 {
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 9px;
  margin: 1px 0 0 -75px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  text-shadow: #5c718e 0 -1px 0;
}

.black-translucent .toolbar {
  padding-top: 30px;
  height: 64px;
}

.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}

.button, .back, .cancel, .add {
  position: absolute;
  overflow: hidden;
  width: auto;
  height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  bottom: 6px;
  right: 10px;
  margin: 0;
  padding: 0 10px;
  color: white;
  text-shadow: #3e5779 0 -1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  border: 1px solid #2d3f57;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: none;
  background-color: #50709a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c97bb), color-stop(50%, #5a7caa), color-stop(51%, #50709a), color-stop(100%, #476489));
  background-image: -webkit-linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
  background-image: linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
}

.button.active, .back.active, .cancel.active, .add.active {
  border-color: #243346;
  background-image: none;
  background-color: #476489;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b89b2), color-stop(50%, #50709a), color-stop(51%, #476489), color-stop(100%, #3e5779));
  background-image: -webkit-linear-gradient(top, #6b89b2, #50709a 50%, #476489 51%, #3e5779);
  background-image: linear-gradient(top, #6b89b2, #50709a 50%, #476489 51%, #3e5779);
  color: white;
  text-shadow: #364b68 0 -1px 0;
}

.back {
  max-width: 60px;
  margin-left: 15px;
  overflow: visible;
  padding-left: 5px;
}

.back:after, .back:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 1px;
  -webkit-transform: rotate(45deg) translate3d(0.2px, 0, 0);
  transform: rotate(45deg) translate3d(0.2px, 0, 0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background-image: none;
  background-color: #50709a;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #7c97bb), color-stop(50%, #5a7caa), color-stop(51%, #50709a), color-stop(100%, #476489));
  background-image: -webkit-linear-gradient(top left, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
  background-image: linear-gradient(top left, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
  background-size: 100% 98%;
  -webkit-border-radius: 0 0 0 2px;
  border-radius: 0 0 0 2px;
  -webkit-mask-image: -webkit-linear-gradient(45deg, black, black 15px, rgba(0, 0, 0, 0) 15px);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, from(black), color-stop(50%, black), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  -webkit-mask-clip: border-box;
  -webkit-background-clip: content-box;
}

.back:after {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 -1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 -1px 0 inset;
}

.back:before {
  margin-left: -1px;
  background: #243346 none;
}

.back.active:after {
  background-image: none;
  background-color: #476489;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #6b89b2), color-stop(50%, #50709a), color-stop(51%, #476489), color-stop(100%, #3e5779));
  background-image: -webkit-linear-gradient(left top, #6b89b2, #50709a 50%, #476489 51%, #3e5779);
  background-image: linear-gradient(left top, #6b89b2, #50709a 50%, #476489 51%, #3e5779);
}

.back.active:before {
  background-color: #243346;
}

.leftButton, .cancel, .back {
  left: 6px;
  right: auto;
}
